<div id="shopify-section-28b0d879-e74c-4ff3-b61d-24f2c316f5f0" class="shopify-section index-section">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-28b0d879-e74c-4ff3-b61d-24f2c316f5f0 {
                        max-width: 644.731977818854px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-28b0d879-e74c-4ff3-b61d-24f2c316f5f0 {
                        max-width: 644.731977818854px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-28b0d879-e74c-4ff3-b61d-24f2c316f5f0"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:84.53124999999999%;">
                        <img id="FeatureRowImage-28b0d879-e74c-4ff3-b61d-24f2c316f5f0"
                            class="feature-row__image lazyautosizes lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0616/3428/1667/files/1_180x.jpg?v=1676300888 180w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_360x.jpg?v=1676300888 360w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_540x.jpg?v=1676300888 540w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_720x.jpg?v=1676300888 720w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_900x.jpg?v=1676300888 900w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_1080x.jpg?v=1676300888 1080w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_1296x.jpg?v=1676300888 1296w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_1512x.jpg?v=1676300888 1512w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_1728x.jpg?v=1676300888 1728w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_2048x.jpg?v=1676300888 2048w"
                            sizes="350px"
                            srcset="//cdn.shopify.com/s/files/1/0616/3428/1667/files/1_180x.jpg?v=1676300888 180w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_360x.jpg?v=1676300888 360w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_540x.jpg?v=1676300888 540w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_720x.jpg?v=1676300888 720w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_900x.jpg?v=1676300888 900w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_1080x.jpg?v=1676300888 1080w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_1296x.jpg?v=1676300888 1296w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_1512x.jpg?v=1676300888 1512w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_1728x.jpg?v=1676300888 1728w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/1_2048x.jpg?v=1676300888 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0616/3428/1667/files/1_600x600@2x.jpg?v=1676300888"
                        class="feature-row__image" />
                </noscript>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3">Image with text</h2>
                <div class="rte rte-setting featured-row__subtext">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="shopify-section-234e3fa1-6ed2-42cf-ac2a-952a5f7304d8" class="shopify-section index-section">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item feature-row__text feature-row__text--right">
                <h2 class="h3">Image with text</h2>
                <div class="rte rte-setting featured-row__subtext">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-234e3fa1-6ed2-42cf-ac2a-952a5f7304d8 {
                        max-width: 645.9259259259259px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-234e3fa1-6ed2-42cf-ac2a-952a5f7304d8 {
                        max-width: 645.9259259259259px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-234e3fa1-6ed2-42cf-ac2a-952a5f7304d8"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:84.37500000000001%;">
                        <img id="FeatureRowImage-234e3fa1-6ed2-42cf-ac2a-952a5f7304d8"
                            class="feature-row__image lazyautosizes lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1851851851851851" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0616/3428/1667/files/3_180x.jpg?v=1676300950 180w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_360x.jpg?v=1676300950 360w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_540x.jpg?v=1676300950 540w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_720x.jpg?v=1676300950 720w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_900x.jpg?v=1676300950 900w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_1080x.jpg?v=1676300950 1080w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_1296x.jpg?v=1676300950 1296w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_1512x.jpg?v=1676300950 1512w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_1728x.jpg?v=1676300950 1728w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_2048x.jpg?v=1676300950 2048w"
                            sizes="350px"
                            srcset="//cdn.shopify.com/s/files/1/0616/3428/1667/files/3_180x.jpg?v=1676300950 180w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_360x.jpg?v=1676300950 360w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_540x.jpg?v=1676300950 540w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_720x.jpg?v=1676300950 720w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_900x.jpg?v=1676300950 900w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_1080x.jpg?v=1676300950 1080w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_1296x.jpg?v=1676300950 1296w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_1512x.jpg?v=1676300950 1512w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_1728x.jpg?v=1676300950 1728w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/3_2048x.jpg?v=1676300950 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0616/3428/1667/files/3_600x600@2x.jpg?v=1676300950"
                        class="feature-row__image" />
                </noscript>
            </div>
        </div>
    </div>

</div>
<div id="shopify-section-a81685c0-0fe3-4ca4-b28a-62e6d29d82bd" class="shopify-section index-section">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-a81685c0-0fe3-4ca4-b28a-62e6d29d82bd {
                        max-width: 584.3204697986578px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-a81685c0-0fe3-4ca4-b28a-62e6d29d82bd {
                        max-width: 584.3204697986578px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-a81685c0-0fe3-4ca4-b28a-62e6d29d82bd"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:93.27073552425665%;">
                        <img id="FeatureRowImage-a81685c0-0fe3-4ca4-b28a-62e6d29d82bd"
                            class="feature-row__image lazyautosizes lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.0721476510067114" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0616/3428/1667/files/4_180x.jpg?v=1676300975 180w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_360x.jpg?v=1676300975 360w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_540x.jpg?v=1676300975 540w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_720x.jpg?v=1676300975 720w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_900x.jpg?v=1676300975 900w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_1080x.jpg?v=1676300975 1080w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_1296x.jpg?v=1676300975 1296w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_1512x.jpg?v=1676300975 1512w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_1728x.jpg?v=1676300975 1728w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_2048x.jpg?v=1676300975 2048w"
                            sizes="350px"
                            srcset="//cdn.shopify.com/s/files/1/0616/3428/1667/files/4_180x.jpg?v=1676300975 180w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_360x.jpg?v=1676300975 360w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_540x.jpg?v=1676300975 540w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_720x.jpg?v=1676300975 720w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_900x.jpg?v=1676300975 900w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_1080x.jpg?v=1676300975 1080w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_1296x.jpg?v=1676300975 1296w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_1512x.jpg?v=1676300975 1512w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_1728x.jpg?v=1676300975 1728w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/4_2048x.jpg?v=1676300975 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0616/3428/1667/files/4_600x600@2x.jpg?v=1676300975"
                        class="feature-row__image" />
                </noscript>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3">Image with text</h2>
                <div class="rte rte-setting featured-row__subtext">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="shopify-section-18297e2c-267d-4788-8f9a-f95b03f9f409" class="shopify-section index-section">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-18297e2c-267d-4788-8f9a-f95b03f9f409 {
                        max-width: 644.731977818854px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-18297e2c-267d-4788-8f9a-f95b03f9f409 {
                        max-width: 644.731977818854px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-18297e2c-267d-4788-8f9a-f95b03f9f409"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:84.53124999999999%;">
                        <img id="FeatureRowImage-18297e2c-267d-4788-8f9a-f95b03f9f409"
                            class="feature-row__image lazyautosizes lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0616/3428/1667/files/2_180x.jpg?v=1676300993 180w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_360x.jpg?v=1676300993 360w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_540x.jpg?v=1676300993 540w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_720x.jpg?v=1676300993 720w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_900x.jpg?v=1676300993 900w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_1080x.jpg?v=1676300993 1080w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_1296x.jpg?v=1676300993 1296w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_1512x.jpg?v=1676300993 1512w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_1728x.jpg?v=1676300993 1728w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_2048x.jpg?v=1676300993 2048w"
                            sizes="350px"
                            srcset="//cdn.shopify.com/s/files/1/0616/3428/1667/files/2_180x.jpg?v=1676300993 180w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_360x.jpg?v=1676300993 360w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_540x.jpg?v=1676300993 540w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_720x.jpg?v=1676300993 720w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_900x.jpg?v=1676300993 900w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_1080x.jpg?v=1676300993 1080w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_1296x.jpg?v=1676300993 1296w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_1512x.jpg?v=1676300993 1512w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_1728x.jpg?v=1676300993 1728w, //cdn.shopify.com/s/files/1/0616/3428/1667/files/2_2048x.jpg?v=1676300993 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0616/3428/1667/files/2_600x600@2x.jpg?v=1676300993"
                        class="feature-row__image" />
                </noscript>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3">Image with text</h2>
                <div class="rte rte-setting featured-row__subtext">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

</div>